In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
technologies = {
    'Courses':["Spark","PySpark","Python","pandas","Python","Spark","pandas","Spark"],
    'Fee' :[20000,25000,22000,30000,22000,20000,30000,20000],
    'Duration':['30days','40days','35days','50days','40days','30days','50days','30days'],
    'Discount':[1000,2300,1200,2000,2300,1000,2000,1000]
              }

In [ ]:
df = pd.DataFrame(technologies)
print(df)

   Courses    Fee Duration  Discount
0    Spark  20000   30days      1000
1  PySpark  25000   40days      2300
2   Python  22000   35days      1200
3   pandas  30000   50days      2000
4   Python  22000   40days      2300
5    Spark  20000   30days      1000
6   pandas  30000   50days      2000
7    Spark  20000   30days      1000

In [ ]:
df2 = df[df.duplicated(subset=['Courses','Fee','Duration','Discount'],keep="last")]

In [ ]:
df2 = df[df.duplicated(subset=['Courses','Fee','Duration','Discount'],keep="last")]

In [ ]:
df2['Courses'].sum()

'SparkpandasSpark'

In [ ]:
df2

Courses       SparkpandasSpark
Fee                      70000
Duration    30days50days30days
Discount                  4000
dtype: object

In [183]:
import pandas as pd

#create DataFrame
df = pd.DataFrame({'team': ['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B','A','B','B'],
                   'position': ['G', 'G', 'G', 'F', 'G', 'G', 'F', 'F','G','G','G'],
                   'points': [5, 5, 8, 10, 5, 7, 10, 10,5,7,7]})

#view DataFrame
print(df)

   team position  points
0     A        G       5
1     A        G       5
2     A        G       8
3     A        F      10
4     B        G       5
5     B        G       7
6     B        F      10
7     B        F      10
8     A        G       5
9     B        G       7
10    B        G       7

In [184]:
df = df.groupby(df.columns.tolist(), as_index=False).size()
df

  team position  points  size
0    A        F      10     1
1    A        G       5     3
2    A        G       8     1
3    B        F      10     2
4    B        G       5     1
5    B        G       7     3

In [185]:
dd = [item for item in df2['size']  if item > 2 ]
dd
print(dd)
print(df2)
df3 = []

[3, 3]
  team position  points  size
0    A        F      10     1
1    A        G       5     3
2    A        G       8     1
3    B        F      10     2
4    B        G       5     1
5    B        G       7     3

In [186]:
for item in dd:
  if item in df2['size'].to_list():
      df3 = df[df2['size']==item].index.values

In [187]:
df3

array([1, 5])

  team position  size
0    A        F     1
1    A        G     4
2    B        F     2
3    B        G     4